<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <portfolio-sidenav [links]="links$ | async"></portfolio-sidenav>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable>
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <ng-container *ngTemplateOutlet="router"></ng-container>
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #header>
  <portfolio-header [extended]="!(isAtTop$ | async)" [links]="links$ | async"></portfolio-header>
</ng-template>

<ng-template #router>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #footer>
  <portfolio-footer></portfolio-footer>
</ng-template>