<!-- <div style="text-align:center">
  <h1 translate>welcome</h1>
  <img width="300" src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png" />
</div>
<div translate [translateParams]="{ message: hello$ | async | json }">message</div>

<ul>
  <ng-container *ngFor="let item of items$ | async">
    <li>{{ item.name }}</li>
  </ng-container>
</ul>

<div timeFromNow [created]="dateClicked$ | async" (timeUpdated)="timestamp$.next($event)" translate
  [translateParams]="{ time: timestamp$ | async }">lastClicked</div>

<button (click)="updateDateClicked()" type="button" translate>updateTime</button> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    Sup!
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <ng-container *ngTemplateOutlet="router"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #header>
  <portfolio-header></portfolio-header>
</ng-template>

<ng-template #router>
  <router-outlet></router-outlet>
</ng-template>