<div style="text-align:center">
  <h1 translate>welcome</h1>
  <img width="300" src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png" />
</div>
<div translate [translateParams]="{ message: hello$ | async | json }">message</div>

<ul>
  <ng-container *ngFor="let item of items$ | async">
    <li>{{ item.name }}</li>
  </ng-container>
</ul>

<div timeFromNow [created]="dateClicked$ | async" (timeUpdated)="timestamp$.next($event)" translate
  [translateParams]="{ time: timestamp$ | async }">lastClicked</div>

<button (click)="updateDateClicked()" type="button" translate>updateTime</button>

<router-outlet></router-outlet>