// Bootstrap configuration
@import 'functions', 'variables', 'mixins';
@import 'bootstrap-config';
@import '~bootstrap/scss/bootstrap';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
	$font-family: 'Roboto, monospace',
	$display-4: mat-typography-level(7rem, 7rem, 300),
	$display-3: mat-typography-level(3.5rem, 4rem, 300),
	$display-2: mat-typography-level(3rem, 3rem, 300),
	$display-1: mat-typography-level(2.125rem, 2.5rem, 300),
	$headline: mat-typography-level(2rem, 3rem, 400),
	$title: mat-typography-level(1.75rem, 2.25rem, 300),
	$subheading-2: mat-typography-level(2.25rem, 2.75rem, 300),
	$subheading-1: mat-typography-level(1.75rem, 2rem, 300),
	$body-1: mat-typography-level(15px, 1.5rem, 400),
	$body-2: mat-typography-level(14px, 1.5rem, 500),
	$caption: mat-typography-level(12px, 20px, 300),
	$button: mat-typography-level(14px, 14px, 400),
	$input: mat-typography-level(1rem, 1.125, 300) /* Line-height must be unit-less fraction of the font-size. */
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat-palette($mat-indigo);
$portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
